<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calculator</h1>
    <a href="{%url 'add'%}">Addition</a>
    <a href="{%url 'sub'%}">Substraction</a>
    <a href="{%url 'div'%}">Division</a>
    <a href="{%url 'multiply'%}">Multiplication</a>
    <a href="{%url 'cube'%}">Cube</a>
    <a href="{%url 'fact'%}">Factorial</a>

</body>
</html>